.parent{
    height: 100vh;
    width: 100vw;
    background-color: rgb(92, 188, 158);
}
.sidebarmenu{
    height: 100%;
    width: 20%;
    background-color: rgb(55, 138, 165);
    padding: 20px;
}
.right-container{
    height: 100%;
    width: 80%;
}