<div class="form-container">
    <h1>Student Registration</h1>

    <form [formGroup]="studentform">
        <label for="">Name:</label>
        <input type="text" formControlName="name">
        <br>

        <label for="">Gender:</label>
        <input type="text" formControlName="gender">
        <br>

        <label for="">Mobile:</label>
        <input type="number" formControlName="mobile">
        <br>

        <label for="">Email:</label>
        <input type="email" formControlName="email">
        <br>

        <label for="">Batch</label>
        <input type="number" formControlName="batch">
        <br>

        <div formGroupName="address">
            <label for="">City:</label>
            <input type="text" formControlName="city">
            <br>

            <label for="">District:</label>
            <input type="text" formControlName="district">
            <br>

            <label for="">State:</label>
            <input type="text" formControlName="state">
            <br>

            <label for="">Pin:</label>
            <input type="number" formControlName="pin">
            <br>

        </div>

        <button class="btn btn-info" (click)="onSubmit()">Submit</button>

    </form>
</div>