<div class="form-container">
    <h1>Student Registration</h1>

    <form [formGroup]="studentform">
        <label for="">Name:</label>
        <input type="text" formControlName="name">
        <br>

        <label for="">Gender:</label>
        <input type="text" formControlName="gender">
        <br>

        <label for="">Mobile:</label>
        <input type="number" formControlName="mobile">
        <br>

        <label for="">Email:</label>
        <input type="email" formControlName="email">
        <br>

        <label for="">Batch</label>
        <input type="number" formControlName="batch">
        <br>

        <div formGroupName="address">
            <label for="">City:</label>
            <input type="text" formControlName="city">
            <br>

            <label for="">District:</label>
            <input type="text" formControlName="district">
            <br>

            <label for="">State:</label>
            <input type="text" formControlName="state">
            <br>

            <label for="">Pin:</label>
            <input type="number" formControlName="pin">
            <br>

        </div>

        <div>
            <button style="margin-bottom: 20px;" class="btn btn-primary" (click)="addEducation()">Add Education</button>
        </div>

        <div formArrayName="educations">
            <div *ngFor="let education of educationFormArray.controls, let i= index">
                <div formGroupName="{{i}}">
                    <h1>Education:{{i+1}}</h1>

                    <label for="">Qualification:</label>
                    <input type="text" formControlName="qualification">
                    <br>

                    <label for="">Year:</label>
                    <input type="number" formControlName="year">
                    <br>

                    <label for="">Percentage:</label>
                    <input type="number" formControlName="percentage">
                    <br>

                    <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>

                    <hr>
                </div>
            </div>
        </div>

        <div formGroupName="company">
            <h3>Company:</h3>
            <label for="">Name:</label>
            <input type="text" formControlName="name">
            <br>

            <label for="">Location:</label>
            <input type="text" formControlName="location">
            <br>

            <label for="">Package:</label>
            <input type="number" formControlName="package">
            <br>

            <label for="">Offerdate:</label>
            <input type="date" formControlName="offerdate">
            <br>
        </div>

        <label for="">Sourcetype:</label>
        <input type="radio" formControlName="sourcetype" value="direct">
        <label for="">Direct</label>
        <input type="radio" formControlName="sourcetype" value="referral">
        <label for="">Referral</label>

        <br>

        <div *ngIf="studentform.get('sourcetype')?.value=='direct'">
            <label for="">Source from:</label>
            <input type="radio" value="socialmedia"  formControlName="sourcefrom">
            <label for="">Social media:</label>
            <input type="radio" value="office"  formControlName="sourcefrom">
            <label for="">Office:</label>
            <br>
        </div>

        <div *ngIf="studentform.get('sourcetype')?.value=='referral'">
            <label for="">Referral Name:</label>
            <input type="text" formControlName="referralname">
            <br>
        </div>

        <button style="margin-top: 20px;" class="btn btn-info" (click)="onSubmit()">Submit</button>

    </form>
</div>