.parent {
    height: 100vh;
    width: 100vw;
    background-color: deepskyblue;
}

.login-container {
    /* padding-top: 30px; */
    height: 350px;
    width: 350px;
    background-color: white;
    border-radius: 15px;

}

.error {
    color: red;
}

label {
    width: 100px;
    padding: 20px;
}

